<div style="background-color:#ee4d2d; width:100%;height:100%">
    <div class="register-section">
        <form action="/api/user/sign-up" method="POST" id="form-1" class="form">
            <div class="register">
                <div class="auth-form_container">
                    <div class="auth-form_header">
                        <h3 class="auth-form_heading">Đăng ký</h3>
                        <span class="switch-btn_auth"><a href="/sign-in">Đăng
                                nhập</a></span>

                    </div>
                    <div class="auth-form_form">
                        <div class="auth-form_gr">
                            <label for="name" class="form-label"></label>

                            <input
                                type="text"
                                name="name"
                                id="name"
                                class="auth-form_input"
                                placeholder="Nhập họ và tên"
                            />

                            <span class="form-message"></span>
                        </div>

                        <div class="auth-form_gr">
                            <label for="email" class="form-label"></label>

                            <input
                                type="text"
                                name="email"
                                id="email"
                                class="auth-form_input"
                                placeholder="Email của bạn "
                            />

                            <span class="form-message"></span>
                        </div>

                        <div class="auth-form_gr">
                            <label for="phone" class="form-label"></label>

                            <input
                                type="text"
                                name="phone"
                                id="phone"
                                class="auth-form_input"
                                placeholder="Nhập số điện thoại"
                            />

                            <span class="form-message"></span>
                        </div>

                        <div class="auth-form_gr">
                            <label for="password" class="form-label"></label>

                            <input
                                type="password"
                                name="password"
                                id="password"
                                class="auth-form_input"
                                placeholder="Mật khẩu của bạn"
                            />

                            <span class="form-message"></span>
                        </div>

                    </div>

                    <div class="auth-form_aside">
                        <p>
                            Bằng việc đăng kí, bạn đã đồng ý với shopee về
                            <a href="">điều khoản dịch vụ</a>
                            &amp;
                            <a href="">Chính sách bảo mật</a>
                        </p>
                    </div>

                    <div class="auth-form_controls">
                        <button class="form-submit">Đăng ký</button>

                    </div>
                </div>

                <div class="auth-form_sociaty">
                    <a href="" class="btn-icon btn-icon_size btn-facebook">
                        <i class="bx bxl-facebook-circle icon-facebook"></i>
                        <span>Kết nối với facebook</span>
                    </a>
                    <a href="" class="btn-icon btn-icon_size btn-gg">
                        <i class="fa-brands fa-google icon-gg"></i>
                        <span>Kết nối với Google</span>
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => { const
    handleHeader = document.querySelector('.header'); if (handleHeader) {
    handleHeader.style.display = "none"; } });
</script>